
header {
    min-width: 940px;
    width: 100% auto;
    background: #bbbbbb;
    padding: 20px 0;
}
.container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin-left: 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
nav a:hover {
    border-bottom: 2px solid #4a26eb;
    color: #4a26eb;
}
main {
    width: 940px;
    margin: 0 auto;
}
form {
    margin: 40px 0;
}
form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px
}
.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
}
footer {
    padding: 40px 0;
    text-align: center;
    background: url(../img/produtos/bg.jpg);
    
}
.copyright {
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
}