body {
	font-family: 'Montserrat', sans-serif;
}
header {
    min-width: 940px;
    width: 100% auto;
    background: #bbbbbb;
    padding: 20px 0;
}
.container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
    margin: 0;
}
nav li {
    display: inline;
    margin-left: 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
nav a:hover {
    border-bottom: 2px solid #4a26eb;
    color: #4a26eb;
}
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 420px;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 5%;
    transition: 1s;
    opacity: 0.8;
    background: #ffffff;
}
.produtos li:hover {
    transform: scale(1.1);
    border: 2px solid #4a26eb;
    opacity: 1;
}
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao {
    font-size: 18px;
}
.price-produto {
    font-size: 22px;
    font-weight: bold;
    vertical-align: bottom;
    margin-top: 10px;
}
footer {
    padding: 40px 0;
    text-align: center;
    background: url(../img/produtos/bg.jpg);
    
}
.copyright {
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
}