body {
	font-family: 'Montserrat', sans-serif;
}
header {
    min-width: 940px;
    width: 100% auto;
    background: #bbbbbb;
    padding: 20px 0;
}
.container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
	margin: 0 auto;
}
nav li {
    display: inline;
    margin-left: 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
nav a:hover {
    border-bottom: 2px solid #4a26eb;
    color: #4a26eb;
}
.banner {
	width:100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em 0;
}
.titulo-principal:first-letter {
	font-weight: bold;
}
.principal {
	width: 940px;
	margin: 0 auto;
	padding: 3em 0;
	background: #FEFEFE;
}
.principal p {
	margin: 0 0 1em 0;
}
.missao {
	font-size: 20px;
	
}

.principal strong {
	font-weight: bold;
}
.principal em {
	font-style: italic;
}
.img-utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 0 20px;
}

.itens {
	font-style: italic;
}
.itens:before {
	content: "★";
}
.mapa{
	background: linear-gradient(#FEFEFE, #C2C2C2);
}
.mapa-api {
	width: 940px;
    margin: 0 auto;
	padding: 3em 0;
}
.mapa p {
	margin-bottom: 2em;
	text-align: center;
}
h2 {
	text-align: center;
}

.gradiente {
	background: #c2c2c2;
}
.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
	background-size: auto;
	padding: 3em 0;
	clear: left;
}
.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}
.img-beneficios {
	width: 56%;
}
.itens{
	line-height: 1.5em;
	list-style: none ;
}
.itens:nth-child(2n+1) {
	font-weight: bold;
}
.video {
	width: 100%;
	align-content: center;
	margin: 2em auto;
}
footer {
    padding: 40px 0;
    text-align: center;
    background: url(../img/produtos/bg.jpg);
    
}
.copyright {
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
}